.inacap_padre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.inacap-titulo {
    font-size: 40px;
    color: black;

}

.inacap_container_img {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: auto; 

    
}

.inacap_container_img img {
    width: 300px;
    height: 100px;
    object-fit: cover;
}
.inacap-parrafo{
    color: black;
}
.inacap-container-link{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}
.inacap-item{
    width: 50px;
    height: 50px;
    background-color: white;
    cursor: pointer;
}





